<section id="auth" class="vh-100">
  <div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h2 nz-title>Log In</h2>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="login()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your email address!">
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="email"
                  nz-input
                  formControlName="emailAddress"
                  placeholder="Email address"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your password!">
              <nz-input-group
                nzPrefixIcon="lock"
                [nzSuffix]="suffixTemplatConfirm"
              >
                <input
                  [type]="passwordVisiblConfirm ? 'text' : 'password'"
                  nz-input
                  nz-input
                  formControlName="password"
                  placeholder="Password"
                />
              </nz-input-group>
            </nz-form-control>
            <ng-template #suffixTemplatConfirm>
              <i
                nz-icon
                [nzType]="passwordVisiblConfirm ? 'eye-invisible' : 'eye'"
                (click)="passwordVisiblConfirm = !passwordVisiblConfirm"
              ></i>
            </ng-template>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="otpErrorTpl">
              <nz-input-group nzPrefixIcon="global">
                <input
                  type="text"
                  formControlName="otp"
                  nz-input
                  placeholder="Google 2Factor (If enabled)"
                />
              </nz-input-group>
              <ng-template #otpErrorTpl let-control>
                <ng-container
                  *ngIf="
                    control.hasError('minLength') ||
                    control.hasError('maxLength') ||
                    control.hasError('pattern')
                  "
                >
                  Please enter valid otp!
                </ng-container>
              </ng-template>
              <span
                class="failed"
                *ngIf="validateForm.controls.otp.errors?.g2f"
              >
                *Please enter your otp!
              </span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
              <a class="float-right" routerLink="/auth/signup">Need Account?</a>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button
                nz-button
                [nzLoading]="loading"
                type="submit"
                class="w-100 cat-btn"
                [nzType]="'primary'"
              >
                Log In
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
</section>
